[bumpversion]
current_version = 2.2.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<prerelease>[0-9A-Za-z.-]+))?
serialize = 
	{major}.{minor}.{patch}-{prerelease}
	{major}.{minor}.{patch}
commit = False
tag = False

[bumpversion:file:lib/java/pom.xml]
search = <version>{current_version}</version>
replace = <version>{new_version}</version>

[bumpversion:file:lib/java/openlinktoken/pom.xml]
search = <version>{current_version}</version>
replace = <version>{new_version}</version>

[bumpversion:file:lib/java/openlinktoken-core-ai/pom.xml]
search = <version>{current_version}</version>
replace = <version>{new_version}</version>

[bumpversion:file:lib/java/openlinktoken/src/main/java/org/openlinktoken/Metadata.java]
search = DEFAULT_VERSION = "{current_version}";
replace = DEFAULT_VERSION = "{new_version}";

[bumpversion:file:lib/python/openlinktoken/pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:lib/python/openlinktoken/src/main/openlinktoken/metadata.py]
search = DEFAULT_VERSION = "{current_version}"
replace = DEFAULT_VERSION = "{new_version}"

[bumpversion:file:lib/python/openlinktoken/setup.py]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:lib/python/openlinktoken/src/main/openlinktoken/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:lib/python/openlinktoken-core-ai/pyproject.toml]
search = {current_version}
replace = {new_version}

[bumpversion:file:lib/python/openlinktoken-core-ai/setup.py]
search = version="{current_version}"
replace = version="{new_version}"

[bumpversion:file:lib/python/openlinktoken-cli/pyproject.toml]
search = {current_version}
replace = {new_version}

[bumpversion:file:lib/python/openlinktoken-cli/setup.py]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:lib/python/openlinktoken-cli/src/main/openlinktoken_cli/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:lib/python/openlinktoken-cli/src/main/openlinktoken_cli/util/version_checker.py]
search = {current_version}
replace = {new_version}

[bumpversion:file:lib/python/openlinktoken-pyspark/setup.py]
search = {current_version}
replace = {new_version}

[bumpversion:file:lib/python/openlinktoken-pyspark/pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:lib/python/openlinktoken-pyspark/src/main/openlinktoken_pyspark/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:pages/quickstarts/cli-quickstart.md]
search = {current_version}
replace = {new_version}

[bumpversion:file:pages/quickstarts/java-quickstart.md]
search = <version>{current_version}</version>
replace = <version>{new_version}</version>

[bumpversion:file:pages/reference/java-api.md]
search = <version>{current_version}</version>
replace = <version>{new_version}</version>

[bumpversion:file:pages/reference/cli.md]
search = "Version": "{current_version}"
replace = "Version": "{new_version}"

[bumpversion:file:pages/reference/metadata-format.md]
search = {current_version}
replace = {new_version}

[bumpversion:file:pages/running-openlinktoken/index.md]
search = "Version": "{current_version}"
replace = "Version": "{new_version}"

[bumpversion:file:pages/operations/running-batch-jobs.md]
search = "Version": "{current_version}"
replace = "Version": "{new_version}"

[bumpversion:file:pages/configuration-tuning/index.md]
search = "Version": "{current_version}"
replace = "Version": "{new_version}"

[bumpversion:file:docs/dev-guide-development.md]
search = --version {current_version} \
replace = --version {new_version} \

[bumpversion:file:resources/output.metadata.json]
search = "Version": "{current_version}"
replace = "Version": "{new_version}"
